@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Zen+Kurenaido&display=swap');

:root {
  --font-size: 24px;
  --font-action: 'Amatic SC', cursive;
  --font-main: 'Zen Kurenaido', sans-serif;
  --bgc-main: #fffde1;
  --fgc-alt-1: #fffde1;
  --bgc-alt-1: #fb3569;
  --bgc-alt-2: #ff9d76;
  --bgc-alt-3: #51eaea;
  --gauge: #ff9d76;
  --fgc-main: #141823;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  font-family: var(--font-main);
  background-color: var(--bgc-main);
  color: var(--fgc-main);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  border: 0px;
  border-radius: 3px;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.25em;
  display: inline-block;
  text-align: center;
  width: 5rem;
  cursor: pointer;

  font-family: var(--font-main);
  color: var(--fgc-alt-1);
  background-color: var(--bgc-alt-1);

  &.true {
    font-family: var(--font-main);
    color: var(--fgc-alt-1);
    background-color: var(--bgc-alt-3);
  }

  &.false {
    font-family: var(--font-main);
    color: var(--fgc-alt-1);
    background-color: var(--bgc-alt-1);
  }

  &.secondary {
    font-family: var(--font-main);
    color: var(--fgc-alt-1);
    background-color: var(--bgc-alt-2);
  }

  &.small {
    width: 3rem;
    margin: 0.5rem;
    padding: 0.75rem;
  }
}

main {
  flex: 1;
}

h1 {
  font-family: var(--font-action);
  font-size: 4rem;
  margin-top: 1rem;
}

h2 {
  font-family: var(--font-action);
  font-size: 3rem;
  margin-top: 1rem;
}

input {
  margin: 1em;
  padding: 0.25em 1em;
  font-size: 2rem;
  font-family: var(--font-main);
  color: var(--fgc-alt-1);
  background-color: var(--bgc-alt-2);
  border: 0;
  border-radius: 3px;
  outline: none;
}
